body {
    display: flex;
    flex-direction: column;
    font-family: 'Red_Hat', sans-serif;
    background-color: var(--primaryColor);
}
.parallaxe {
    padding-top: 50vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 100;
    padding-left: 30px;
    background: rgba(8, 8, 8, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarList {
    display: flex;
    gap: 40px;
    font-size: 1.15em;
}
.navbarItem {
    color: var(--primaryColor);
    transition: 0.2s;
}
.headerVideo {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -10;
    object-fit: cover;
}
.headerBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
}
.registerBtn, .servicesCtnText a {
    font-size: 1.1em;
    padding: 8px 16px;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 7px;
    transition: 0.2s;
}
.registerBtn:hover {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}
.flagCtn {
    display: flex;
}
.flag {
    width: 25px;
    height: 25px;
    transition: 0.2s;
}
.home_textCtn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    background: rgba(8, 8, 8, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: max-content;
}
.home_subtitle, .home_text {
    color: var(--primaryColor);
}
.home_subtitle {
    font-size: 1.5em;
}
.home_text {
    font-size: 1.25em;
}
.home {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home_BtnCtn {
    display: flex;
    gap: 30px;
    padding: 10px 0;
}
.homeBtn {
    padding: 10px 40px;
    color: var(--primaryColor);
    background: rgba(8, 8, 8, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    transition: 0.2s;
}
.homeBtn:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

.brands {
    padding: 6vh 3vw;
    z-index: 0;
    margin: 100vh 0 0 0;
    background-color: var(--primaryColor);

}
.brands ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 55px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.brands li {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
}

.brands li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.brands li a img {
    max-width: 45%;
    max-height: 45%;
    object-fit: contain;
    display: block;
}

.brands li:nth-child(2) a img {
    max-width: 65%;
    max-height: 65%;
}
.brand_alertCtn {
    display: flex;
    gap: 30px;
}

.brand_alert {
    font-size: 2em;
    color: var(--secondaryColor);
    cursor: pointer;
    position: relative;
    display: inline-block;
    animation: pulse 1.5s infinite ease-in-out;
}
.brand_alert_text {
    opacity: 0;
    margin-top: 5px;
    transition: 0.2s;
}
.activeAlert {
    opacity: 1;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        color: rgb(130, 23, 23);
    }
}
.services {
    z-index: 0;
    background-color: var(--primaryColor);
    padding: 0 0 8vh 0;
}
.services h2, .ia h2 {
    margin: 0 0 6vh 0;
    font-size: 2em;
    text-align: center;
}
.servicesCtn {
    display: flex;
}
.servicesCtnText, .servicesCtnImg {
    width: 50%;
}
.servicesCtnImg img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.servicesCtnText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    /* gap: 60px; */
}
.servicesCtnText > p:nth-child(1) {
    font-size: 2.3em;
}
.servicesCtnText > p:nth-child(2) {
    font-size: 1.6em;
    margin-top: 30px;
}
.servicesCtnText a:hover {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.servicesLine {
    width: 100%;
    height: 1px;
    background-color: var(--secondaryColor);
    margin: 70px 0;
}
.servicesCtnText ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
}
.servicesCtnText ul li {
    list-style: disc;
}
.servicesCtnText ul li p {
    font-size: 1.2em;
}
.ia {
    position: relative;
    z-index: 0;
    background-color: var(--primaryColor);
}
.videoCtn {
    position: relative;
    width: 100%;
    height: 100vh;
}
.videoCtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
.videoCtn video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}
.videoTextCtn {
    color: white;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videoTextCtn > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.videoTextCtn ul li p {
    font-size: 1.3em;
}
.iaLine {
    width: 100%;
    height: 1px;
    background-color: var(--primaryColor);
    margin: 50px 0 0 0;
}
.iaGeminiLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.geminiLogo {
    width: 200px;
    height: 150px;
}
.iaGeminiLogo > p {
    text-decoration: underline;
}
footer {
    padding: 40px 0 40px 0;
    z-index: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > ul {
    display: flex;
    gap: 100px;
    margin: 50px 30px 0 0;
}
footer > ul li a {
    color: var(--primaryColor);
}