* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --primaryColor: #fbfbfb;
    --secondaryColor: #1a1a1d;
    --appPrimaryColor: #888888;
}
@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Red_Hat";
    src: url('../fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hind";
    src: url('../fonts/Hind_Siliguri/HindSiliguri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.vanish {
    display: none !important;
}
.logoTitle {
    font-family: 'Rubik', sans-serif !important;
    font-size: 1.75em;
}
.logoTitleLink, .logoTitle {
    max-width: max-content;
}
.flag {
    width: 25px;
    height: 25px;
    transition: 0.2s;
}